# Node
server/node_modules/
client/node_modules/

# Python
python-services/venv/
python-services/__pycache__/
python-services/*.pyc

# ChromaDB
python-services/chromadb/
python-services/dataBase/

# Uploaded PDFs
server/upload/

server/.env
